@font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}


:root {
    color: darkgreen;
    overflow: auto;
    font-family: Ubuntu-Regular, serif;
}

body {
    margin: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted green;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.container {
    border: 3px solid #323232;
    padding: 16px;
}

.center {
    text-align: center;
}
