<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Controller</title>
    <style>
        .img {
            width: 82px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<table style="width: 100%">
    <tr style="margin-bottom: 1em">
        <td>
            <img class="img" id="prev-song" alt="prev song" src="/icons/skip_previous.svg">
        </td>
        <td>
            <img class="img" id="play" alt="play pause" src="/icons/pause.svg">
        </td>
        <td>
            <img class="img" id="next-song" alt="next song" src="/icons/skip_next.svg">
        </td>
    </tr>
    <tr>
        <td>
            <img class="img" id="vol-down" alt="vol down" src="/icons/volume_down.svg">
        </td>
        <td></td>
        <td>
            <img class="img" id="vol-up" alt="vol up" src="/icons/volume_up.svg">
        </td>
    </tr>
</table>
</body>
</html>
